/*Global Styles */

:root {
  --home-color: #2b2c2c;
  --about-color: #303131;
  --light-grat: #ccccc9;
  --sticky-navbar: #252525;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: var(--home-color);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Responsive Navbar */
.responsiveNavLinks {
  width: 100%;
  height: 150px;
  /* background-color: red; */
  z-index: 99;
  position: fixed;
  top: -150px;
  background-color: var(--sticky-navbar);
  transition: 0.5s ease;
}

.openResposiveNav {
  top: 77px;
}

.responsiveNavLinks ul li {
  margin: 10px 10px;
}
.responsiveNavLinks ul li a {
}

/* Loader */

.loader {
  /* width: 100%; */
  /* height: 100%; */
  background-color: var(--home-color);
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader img {
  width: 150px;
}
.loader .loaderGif {
  width: 80px;
  height: 80px;
  border-left: 3px solid #feb633;
  border-right: 3px solid #feb633;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  animation: fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

nav {
  color: #fff;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  /* margin: auto; */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: #2b2c2c;
}

.sticky {
  /* border-bottom: 1px solid red; */
  background-color: var(--sticky-navbar);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
nav .logo {
  font-size: 50px;
  font-weight: 900;
  height: 100%;
  color: #feb633;
  padding: 10px 0;
}

nav .navLinks {
  height: 100%;
}
nav .navLinks ul {
  display: flex;
}
.navLinks ul li {
  margin: 0 25px;
  color: #fff;
}
.navLinks ul li a {
  font-weight: 600;
  position: relative;
  outline: none;
  transition: 0.5s;
}

.navLinks ul li a:not(.active):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 3px solid #feb633;
  height: 100%;
  width: 0;
  padding-bottom: 3px;
  transition: 0.5s;
}

.navLinks ul li a:not(.active):hover {
  color: #feb633;
}
.navLinks ul li a:hover:before {
  width: 50%;
}

a.active {
  color: #feb633;
  position: relative;
}
a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  color: #feb633;
  border-bottom: 3px solid #feb633;
  height: 100%;
  width: 50%;
  padding-bottom: 3px;
  transition: 0.5s;
}

/* Color Switcher */

.colorSwitcher {
  width: 200px;
  height: 160px;
  position: fixed;
  top: 50%;
  right: -150px;
  transform: translateY(-50%);
  display: flex;
  transition: 0.5s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 99;
}

.colorSwitcher .colorSwitcherButton {
  width: 50px;
  height: 50px;
  margin-top: 50%;
  transform: translateY(-80%);
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
}
.colorSwitcher .colorSwitcherColors {
  width: 150px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.colorSwitcherColors h5 {
  border-bottom: 1px solid var(--light-grat);
  color: var(--home-color);
  text-align: center;
}
.openColorSwitcher {
  right: 0;
}

.colors {
  width: 70%;
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin: 0 auto;
}
.colors .color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
}

/*  Burger Menu */
.burgermenuButton {
  width: 40px;
  height: 40px;
  /* background-color: red; */
  position: fixed;
  right: 55px;
  top: 25px;
  z-index: 101;
  display: flex;
  cursor: pointer;
  display: none;
}
.burgermenuButton span {
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--light-grat);
  margin: auto;
  position: relative;
}

.burgermenuButton span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 2px;
  background-color: var(--light-grat);
}
.burgermenuButton span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--light-grat);
}

.bigSection {
  min-height: 100vh;
  width: 100%;
}
.smallSection {
  min-height: 50vh;
}
img {
  max-width: 100%;
}

/* Home*/

.home {
  /* background-color: red; */
  /* padding: 300px 0; */
  width: 80%;
  margin: 95px auto 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.home .introduceContent {
  /* background-color: palegreen; */
  width: 50%;
  height: 50%;
  margin-top: 15%;
  position: relative;
}

.content {
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home .introduceContent h1 {
  font-size: 75px;
  letter-spacing: 2px;
  color: #fff;
  margin: 10px 0;
}

.home .introduceContent h3 {
  font-size: 25px;
  color: #ddd;
  margin: 10px 0;
  font-weight: 200;
  color: var(--light-grat);
  font-weight: 400;
}

.home .introduceContent .hireMeButton {
  padding: 15px 30px;
  background-color: #feb633;
  display: block;
  width: 70%;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 35px;
  transition: 0.2s;
  border: #feb633 2px solid;
}

.home .introduceContent .hireMeButton:hover {
  color: #feb633;
  border: #feb633 2px solid;
  background-color: transparent;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.image img {
  height: 100%;
}

/* About */

.about {
  background-color: var(--about-color);
  padding: 100px 0;
  width: 100%;
}

.aboutContainer {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
}
.aboutContainer .aboutLogo {
  flex-basis: 50%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.aboutLogo h1 {
  font-size: 50px;
  color: var(--light-grat);
  position: relative;
}

.aboutContainer .aboutLogo h1::before,
.header h1::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-bottom: 4px solid #feb633;
  width: 50%;
  height: 100%;
  padding-bottom: 3px;
}

.aboutContainer .aboutContent {
  flex-basis: 50%;
  height: 70%;
  display: block;
  margin: auto;
}

.aboutContainer .aboutContent {
  color: var(--light-grat);
  font-size: 18px;
}
.aboutButtons {
  width: 100%;
  display: flex;
}
.aboutButtons button {
  padding: 15px 10px;
  background-color: #feb633;
  display: block;
  width: 30%;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 35px;
  transition: 0.2s;
  border: #feb633 2px solid;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}
.aboutButtons button:last-of-type {
  margin-left: 50px;
  color: #feb633;
  border: #feb633 2px solid;
  background-color: transparent;
}

.aboutButtons button:hover {
  color: #feb633;
  border: #feb633 2px solid;
  background-color: transparent;
}

.circle {
  width: 200px;
  height: 200px;
  border: 30px solid #252525;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  opacity: 0.3;
}
.circle:nth-child(1) {
  left: 5%;
  /* top: 50%; */
  border: 30px solid #feb633;
}
.circle:nth-child(3) {
  left: 60%;
  /* top: -1%; */
  border: 30px solid #feb633;
}

/* Services */

.servicesContainer {
  width: 80%;
  /* background-color: red; */
  height: auto;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr; */
  /* justify-content: center; */
  flex-wrap: wrap;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.header h1 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  color: var(--light-grat);
  position: relative;
  display: inline;
}

.servicesContainer .serviceCard {
  max-width: 450px;
  height: 250px;
  background-color: #2b2c2c;
  position: relative;
  margin: 25px 0;
  cursor: default;
  transition: 0.5s;
}

.servicesContainer .serviceCard:nth-child(1):before,
.serviceCard:nth-child(3):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-left: 3px solid #feb633;
  border-top: 3px solid #feb633;
  height: 125px;
  width: 125px;
  padding: 10px;
}
.servicesContainer .serviceCard:nth-child(1):after,
.serviceCard:nth-child(3):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 3px solid #feb633;
  border-bottom: 3px solid #feb633;
  height: 125px;
  width: 125px;
}
.servicesContainer .serviceCard:nth-child(2):before,
.serviceCard:nth-child(4):before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 3px solid #feb633;
  border-top: 3px solid #feb633;
  height: 125px;
  width: 125px;
  padding: 10px;
}
.servicesContainer .serviceCard:nth-child(2):after,
.serviceCard:nth-child(4):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 3px solid #feb633;
  border-bottom: 3px solid #feb633;
  height: 125px;
  width: 125px;
}

.servicesContainer .serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.servicesContainer .serviceCard .fas,
.servicesContainer .serviceCard .far {
  font-size: 50px;
}
.servicesContainer .serviceCard h2 {
  font-size: 40px;
}
.serviceCard .description {
  width: 80%;
  text-align: center;
}

.projects {
  background-color: var(--about-color);
}
/* Projects */
.projectsHeader {
  text-align: center;
  color: var(--light-grat);
  margin-bottom: 35px;
}
.projectsHeader h1 {
  font-size: 60px;
  padding: 10px 0;
  position: relative;
  display: inline;
}
.projectsHeader h1:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #feb633;
  transform: translateX(-50%);
}

.projectsCards {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.proCard:nth-of-type(1) {
  width: 330px;
  height: 250px;
  border: 1px solid #fff;
  background: url(/images/project1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: #feb633; */
  background-blend-mode: screen;
  cursor: pointer;
  z-index: 90;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.proCard:nth-of-type(2) {
  width: 330px;
  height: 250px;
  border: 1px solid #fff;
  background: url(/images/project2.png), white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background: #feb633; */
  cursor: pointer;
  z-index: 90;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.proCard:nth-of-type(3) {
  width: 330px;
  height: 250px;
  border: 1px solid #fff;
  background: url(/images/project3.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 90;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.proCard:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #dadada;
}

.proCard a {
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
  background-color: #303131;
  border-radius: 8px;
  border: 1px solid #fafafa;
  /* -webkit-text-stroke: 1px #dadada; */
  cursor: pointer;
  font-weight: 700;
  left: 50%;
  position: absolute;
  display: block;
  width: 55%;
  text-align: center;
  bottom: -50px;
  transform: translateX(-50%);
  transition: 0.5s;
  padding: 10px 0;
}
.proCard:hover a {
  bottom: 0%;
}

#contact {
  background-color: var(--home-color);
  /* padding: 100px 0; */
  width: 100%;
}
.contact .contactTitle h1 {
  color: var(--light-grat);
  font-size: 55px;
  position: relative;
  /* display: inline; */
  text-align: center;
}
.contact .contactTitle h1:before,
.contactContent h3::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10%;
  height: 3px;
  background-color: #feb633;
  transform: translateX(-50%);
}

.contactContent h3::before {
  width: 100%;
}
.contact .contactContainer {
  width: 80%;
  height: 40vh;
  margin: auto;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.contactLogo {
  width: 20%;
  /* background-color: greenyellow; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 5px solid var(--light-grat);
}

.contactLogo h2 {
  font-size: 120px;
  color: #feb633;
}

.contactContent {
  background-color: rgba(240, 248, 255, 0.05);
  width: 80%;
  height: 80%;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}
.contactContent div {
  /* background-color: red; */
  width: 33%;
  height: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.contact div li {
  margin: 10px 0;
  font-weight: 600;
  color: var(--light-grat);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact div h3 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  top: -10px;
}

/* Footer */
footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: var(--light-grat);
  border-top: 2px solid var(--sticky-navbar);
  font-size: 18px;
}

footer span {
  color: #feb633;
  font-weight: 900;
  font-size: 20px;
}
/* Responsive */

@media (max-width: 788px) {
  .wrapp .home {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
  }
  nav .navLinks {
    display: none;
  }
  nav {
    justify-content: flex-start;
  }
  nav .logo {
    margin-left: 20px;
  }
  .home {
    flex-direction: column;
  }
  .home .image {
    display: none;
  }
  .home .introduceContent {
    width: 100%;
    height: 50%;
    margin-top: 10%;
  }
  .home .introduceContent h1 {
    font-size: 40px;
  }
  .home .introduceContent h3 {
    font-size: 25px;
  }
  .home .introduceContent .hireMeButton {
    padding: 10px 0;
  }
  .introduceImage {
    width: 100%;
    height: 100%;
  }
  .image img {
    height: auto;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
  }
  .about .aboutContainer {
    flex-direction: column;
  }
  .aboutContainer .aboutContent {
    font-size: 14px;
    width: 95%;
    margin: 50px 0;
  }
  .aboutContainer .aboutContent p {
    display: inline;
  }
  .aboutLogo h1 {
    font-size: 30px;
  }
  .aboutButtons button {
    font-size: 16px;
    width: 50%;
  }
  .aboutButtons button:last-of-type {
    margin-left: 15px;
  }
  .burgermenuButton {
    display: flex;
  }
  .circle:nth-child(1),
  .circle:nth-child(2),
  .circle:nth-child(3),
  .circle:nth-child(4) {
    display: none;
  }
  .servicesContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    font-size: 35px;
  }

  .servicesContainer .serviceCard {
    width: 75%;
    height: 75%;
    margin: 25px 0;
    padding: 0 50px;
  }
  .servicesContainer .serviceCard .fas,
  .servicesContainer .serviceCard .far {
    font-size: 20px;
    padding: 20px 0;
  }
  .servicesContainer .serviceCard h2 {
    font-size: 15px;
    padding: 20px 0;
  }
  .servicesContainer .serviceCard .description {
    font-size: 12px;
  }
  .servicesContainer .serviceCard:nth-child(1):before,
  .serviceCard:nth-child(3):before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid #feb633;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .servicesContainer .serviceCard:nth-child(1):after,
  .serviceCard:nth-child(3):after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    border: none;
    width: 0;
  }
  .servicesContainer .serviceCard:nth-child(2):before,
  .serviceCard:nth-child(4):before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border: 3px solid #feb633;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .servicesContainer .serviceCard:nth-child(2):after,
  .serviceCard:nth-child(4):after {
    content: "";
    position: absolute;
    left: 0;
    border: none;
    bottom: 0;
    height: 0;
    width: 0;
  }
  .projectsCards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .projectsHeader h1 {
    font-size: 35px;
  }
  .proCard {
    margin: 15px 0;
  }
  .contact .contactContainer {
    flex-direction: column;
    height: 100vh;
  }
  .contactLogo {
    border-right: none;
    width: 100%;
    height: 20%;
    margin: 10px 0;

    border-bottom: 5px solid var(--light-grat);
  }

  .contactContent {
    flex-direction: column;
  }
  .contactContent div {
    /* display: none; */
    border: 2px solid #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pad: 30px 0;
  }
  .contactContent div:last-child {
    height: 500px;
  }
  .contactLogo h2 {
    font-size: 90px;
    color: #feb633;
  }
  .contactLogo h2 {
    font-size: 75px;
  }
  .contact .contactTitle h1 {
    color: var(--light-grat);
    font-size: 35px;
    position: relative;
    /* display: inline; */
    text-align: center;
  }
  .contact .contactTitle h1:before {
    width: 30%;
  }
  .home .introduceContent .hireMeButton {
    padding: 15px 20px;
    background-color: #feb633;
    display: block;
    width: 50%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.2s;
    border: #feb633 2px solid;
  }
}

@media (max-width: 1135px) {
  .servicesContainer {
    width: 80%;
    /* background-color: red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr; */
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .projectsCards {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  .projectsCards {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .projectsCards .proCard {
    margin: 10px 0;
  }
}
